* {
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: #22272e;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 14px;
}

.logo {
    max-width: 260px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.title {
    text-align: center;
    color: #fff;
    font-size: 25px;
    margin: 24px 0;
}

.form label{
    color: #fff;
    font-size: 20px;
}

.input {
    width: 100%;
    height: 48px;
    border-radius: 4px;
    font-size: 20px;
    padding: 0 14px;
    margin: 8px 0 16px 0;
}

.button {
    width: 100%;
    height: 48px;
    background: #119cea;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 15px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.result {
    background: #00b63e;
    max-width: 520px;
    padding: 20px 28px;
    text-align: center;
    border: 1px solid #696969;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    user-select: none;
    cursor: pointer;
    transition: transform 0.8s;
}

.hide {
    display: none;
}

.result:hover {
    transform: scale(1.1);
}

.result span {
    color: #fff;
    margin-bottom: 12px;
}

#text-result {
    font-size: 24px;
    font-weight: bold;
}

.info {
    position: fixed;
    right: 14px;
    bottom: 22px;
}

.tooltip {
    color: #fff;
    background: #0f0f0f;
    padding: 10px 8px;
    border-radius: 6px;
    position: relative;
    bottom: 28px;
    display: none;
}

.info:hover .tooltip {
    display: inline;
}

.info-img {
    width: 66px;
    height: 66px;
}

.about {
    max-width: 620px;
    background: #242424;
    padding: 24px 14px;
    border: 1px solid #696969;
    border-radius: 4px;
}

.about p {
    color: #fff;
    margin-bottom: 8px;
    line-height: 150%;
}

.button-calc {
    background: #119cea;
    height: 48px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-top: 24px;
    border-radius: 4px;
}